<div class="container">
  <div class="row">
		<div class="col-xs-10 col-xs-offset-2">
      <h2>注文履歴一覧</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-1"></div>
		<div class="col-xs-10">
		  <table class="table table-bordered">
		    <tbody>
  			　<tr>
  				<th>宛名</th>
  				<th>支払金額</th>
  			  </tr>
			　<% @orders.each do |order| %>
      			  <tr>
      				<td>
      					<%= order.name %>
      				</td>
      				<td>
      					<%= order.billing_amount %>
      				</td>
      				<td>
      					<%= link_to "詳細", public_order_path(order) %>
      				</td>
      			　</tr>
        <% end %>
		    </tbody>
		  </table>
		</div>
	</div>
</div>