<% @order.each do |order_item| %>
      			  <tr>
      				<td>
      					<%= order_item.item.name %>
      				</td>
      				<td>
      					<%= order_item.quantity %>
      				</td>
      			　</tr>
        <% end %>